.tabContainer{
    display: flex;
    justify-content: space-between;
}

.tabItemContainer{
    display: flex;
    background: white;
    padding: 1rem;
    justify-content: center;
    flex:1;
    flex-direction: column;
}

.tabItem{
    color: #333;
    padding: 0.5rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
}

.tabItem-active{
    padding: 0.5rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    color: white;
    background: #4caf50;
}

@media only screen and (max-width: 600px) {   
    .tabItem-active{
        font-size: 14px;
        padding: 0.5rem;
    }
    .tabItem{
        font-size: 14px;
        padding: 0.5rem;
    }
    .tabItemContainer{
        padding: 0.5rem 0;
    }
}

@media only screen and (max-width: 375px) {   
    .tabContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .tabItemContainer{
        justify-content: flex-start;
        flex: none !important;
    }
    .tabItem{
        width: 100px;
    }
    .tabItem-active{
        width: 100px;
    }
}